@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.dashboard_container{
    background-color: #c9c9c9;
}
.sidebar{
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid red;
}