@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.dashboard_container{
    background-color: #c9c9c9;
}
.sidebar{
    padding: 15px;
    background-color: #ffffff;
}
.sidebar_header i{
    font-size: 50px;
    color: #3772f0;
}
.sidebar_footer i{
    font-size: 23px;
}